<div class="screen w-75 m-auto d-{{u1}}">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-2">
        <li class="nav-item">
          <a class="nav-link" href="/import">import</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/craw">Craw to DB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/movies">Favorite Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Log out</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search/1" method="post">
        <input
          name="name"
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</div>